.parallax {
    /* overflow: hidden; */
    position: relative;
    z-index: 0;
    min-height: 75vh;
    display: grid;
    grid-template-areas: "stack";
  }
  
  .parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }
  
  .parallax > img {
    width: 100%;
  }
  
  .primary-header,
  .hero {
    --parallax-speed: 10;
    z-index: 10;
  }
  
  .parallax__bg {
    --parallax-speed: -9;
  
    z-index: 1;
    min-height: 139%;
    width: 100%;
    object-fit: cover;
  }
  
  .parallax__luna {
    --parallax-speed: 50;
    z-index: 3;
  }
  
  .parallax__foreground-front,
  .parallax__foreground-back {
    z-index: 999;
    align-self: end;
  }
  
  .parallax__foreground-back {
    transform: scaleY(1.2);
    transform-origin: bottom;
    mix-blend-mode: hard-light;
  }
  
  .main-content {
    position: relative;
    /* z-index: 1; */
    background: hsl(238, 100%, 6%);
    padding-block: 6rem;
  }
  
  @keyframes parallax {
    to {
      transform: 
        translateY(calc(var(--parallax-speed) * 100px));
    }
  }
  
  /* general styling */

  html {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    padding: 0%;
    place-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: 500; /* for demo only */
    text-transform: uppercase; /* for demo only */
    min-height: 300vh; /* for demo only */
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .wrapper {
    width: min(65rem, 100% - 4rem);
    margin-inline: auto;
  }
  .flex-group {
    display: flex;
    gap: 1rem;
  }
  
  .button {
    font: inherit;
    font-style: italic;
    text-transform: uppercase;
    background: hsl(221, 95%, 17%);
    padding: 1em 2em;
    border: 0;
    border-radius: 0.125em;
  }
  
  .primary-header {
    padding-block: 2rem;
    align-items: center;
  }
  
  .primary-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .primary-nav ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .primary-nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
  }
  .primary-nav a:hover{
    color: #fafa33;
  }
  .primary-nav a.active {
    color: #fafa33;
  }
  
  .logo {
    max-width: 100px;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      inset: -3rem;
      z-index: -1;
      background: radial-gradient(hsl(0 0% 100% / 0.5), transparent 70%);
    }
  }
  
  .hero {
    margin-block-start: max(20vh, 8rem);
  }
  
  .hero__title {
    font-size: 6rem;
    max-width: 10ch;
    line-height: 1;
    font-style: italic;
    font-weight: 900;
    position: relative;
  
    > span {
      font-style: normal;
      font-size: 0.5em;
      display: block;
    }
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: black;
      z-index: -1;
      scale: 2;
      opacity: 0.5;
      filter: blur(5rem);
      translate: -50%;
    }
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    background-color: #9f9ab3a1;
    box-shadow: 0px 8px 16px 0px rgba(178, 166, 211, 0.452);
    z-index: 1;
  }
  
  /* Style for the dropdown */
  .primary-nav li:hover .sub-menu {
    display: block;
  }
  
  .sub-menu ul {
    list-style: none;
    padding: 1;
    margin: 1;
  }
  
  .sub-menu ul li {
    padding: 12px;
  }
  
  .sub-menu ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .wrapper h1{
    position: center;
    color: aqua;
  }
  
  .wrapper p{
    color: #ffffff;
    justify-content: center;
    line-height: 1.5;
    font-family: Arial;
    font-variant: normal;
    font-size: large;
  }


  .container {
    width: 100%;
    padding-left: 400px;
    margin-top: -10px;
    display: block;
    color: black;
  }
  
  .btn {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background: #ffffff;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px rgb(0, 0, 0, 0.1);
  }
  
  .btn a {
    text-decoration: none;
    color: black;
  }
  
  .btn span {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
  }
  
  .btn:hover {
    width: 290px;
  }
  
  .btn .icon {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }
  
  .btn .icon i {
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover i {
    color: white;
  }
  
  .btn:nth-child(1):hover .icon {
    background: #4267b2;
  }
  
  .btn:nth-child(2):hover .icon {
    background: #e1306c;
  }
  
  .btn:nth-child(3):hover .icon {
    background: #1da1f2;
  }
  
  .btn:nth-child(4):hover .icon {
    background: #0e76a8;
  }
  
  .btn:nth-child(1) {
    color: #4267b2;
  }
  
  .btn:nth-child(2) {
    color: #e1306c;
  }
  
  .btn:nth-child(3) {
    color: #1da1f2;
  }
  
  .btn:nth-child(4) {
    color: #0e76a8;
  }
  